.ant-card {
    padding: 16px;
    background: #27293D;
}

.ant-form-item-label > label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.ant-input,
.ant-input-number,
.ant-input[disabled] {
    color: #fff;
    border-color: #2b3553;
    border-radius: 0.4285rem;
    font-size: 0.75rem;
    background: transparent;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.ant-form-item textarea.ant-input {
    min-height: 80px;
}

.ant-btn-primary {
    background: #e14eca;
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #e14eca;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
    border-width: 2px;
    border: none;
    margin: 4px 1px;
    border-radius: 0.4285rem;
    padding: 18px 40px;
    line-height:0;
}

.ant-btn-primary:hover {
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

.ant-form .anticon svg {
    fill: #ba54f5;
}

.ant-form-item-has-error .ant-form-item-explain, .ant-form-item-has-error .ant-form-item-split {
    font-size: 12px;
}

.avatar {
    border-radius: 50%;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: #344675;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.social-icons a:hover {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

.social-icons i {
    font-size: 16px;
    color: #fff;
}